.base-container {
   background-position: center center;
   background: -webkit-radial-gradient(blue,green);
   
   width: 100vw;
   height: 98vh;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap:  7rem;
   padding: 0 2rem;
}
.header{
   font-size: 15px;
   font-family: "Open Sans", sans-serif;
   color: blue;
}
.content{
   width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}


.image img{
   align-items: center;
   width: 150px;
   height: 150px;
}
.form {
   margin-top: 2em;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.form >div label {

      position: absolute;
      left: 10px;
      top: 50%;
      transform:  translateY(-50%);
      color: #999;
      font-size: 18px;
      display: none;
      transition: .3s;
    
}
.errorMessage {
   color: red;
   font-size: 0.75em;
   display: relative;
 }

.form-group {
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
   width: 100%;
}
.form-group label {
   font-size: 15px;
}
.form-group input {
   margin-top: 6px;
   min-width: 18em;
   height: 37px;
   padding: 0px 10px;
   font-size: 16px;
   font-family: "Open Sans", sans-serif;
   background-color: #f3f3f3;
   border: 0;
   border-radius: 4px;
   margin-bottom: 31px;
   transition: all 250ms ease-in-out;
}

.form-group input:hover {
   background-color: #ffffff;
   box-shadow: 0px 0px 14px 0.3px #0e81ce96;
}
.footer {
   margin-top: 0.5em;
}
.btn {
  font-size: 20px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.btn:hover{
   background-color: #2386c8;
}
.btn:focus{
   outline: none;
}